[2020-09-23 13:11] mstenta opened #1 "Figure out hosting for nfa.farmos.net"

[2020-09-23 13:18] mstenta opened #2 "Add custom layer via WMS"
farmOS already has the ability to load in WMS layers via a custom module (like this one).

Questions:

- What specific layers?
- Where is this coming from? Is it hosted already?

[2020-09-23 13:21] mstenta opened #3 "Upload shapefiles"
farmOS can already accept KML files for creating area geometries. Does this meet the requirements?

[2020-09-23 13:22] mstenta opened #4 "Ability to configure polygon colours and line sizes"
We can already define the colors of different area types in farmOS. We don't have control over the line widths currently, but that could be explored, if it's high priority.

[2020-09-23 13:23] mstenta opened #5 "Collapsible area lists"

[2020-09-23 13:24] mstenta commented on #5
Areas are collapsible - closing this.

[2020-09-23 13:24] #5 closed

[2020-09-23 13:25] mstenta opened #6 "Search/filter area list"
The area list (/farm/areas) is currently a View, so we might be able to use exposed filters for it.

Questions:

- Search/filter by name?
- Area type
- others?

[2020-09-23 13:31] mstenta commented on #6
I wonder: does this need to be done on /farm/areas? Or would it be more useful to think about adding filters to the dashboard, where we are hoping to funnel users into "Plans"?

[2020-09-23 13:35] mstenta opened #7 "Improve area hierarchy process"
It sounds like the main problem here is that editing the area hierarchy is difficult with so many areas. Normally I would suggest using the click-and-drag UI at /admin/structure/taxonomy/farm_areas, but even that is a bit difficult to use. I assume Andrew found the "Relations" fields to be an easier way to do it... but still has issues because the list is so long.

[2020-09-23 13:36] mstenta opened #8 "KML structure guide for KML Importer"

[2020-09-23 13:46] mstenta opened #9 "Track changes to area geometries"

[2020-09-23 13:47] mstenta commented on #9
Some thoughts:

- Right now areas are taxonomy terms, which are not revisionable
- In farmOS 2.x we are talking about making Areas into Assets, which would allow Logs to be used to change their geometries over time and track those changes - which sounds like what we want here
- Maybe we can hack together a special log type for NFA specifically in farmOS 1.x?

[2020-09-23 13:56] mstenta opened #10 "Adjust the naming pattern for plantings"
We are already auto-generating Planting names, so this may just be a matter of changing the pattern of what we are concatenating together.

However, it also depends on whether or not we are collecting all the information we need for that. Need to see some examples of what this should look like.

[2020-09-23 13:58] mstenta opened #11 "Season should be month of planting"
Right now the Season field is not being populated on Plantings created by the Forest module. Should it be?

Month of planting might be a bit tricky because I assume it will be based on the "Planting date" in the Forest module form. What happens if someone changes that date? Do we need to auto-update the season? I assume so. So that requires extra logic.

[2020-09-23 14:00] mstenta opened #12 "A crop plan is required - so that this can be used to trigger / remind the managers responsible of key silvicultural activities"
Should this issue be renamed to "Notifications"? Is that specifically what this is for?

[2020-09-23 14:02] mstenta opened #13 "Rename "Groups" to "Projects""
Maybe this is just a matter of changing the labels? I'm curious to understand how this will be used.

[2020-09-23 14:04] mstenta opened #14 "1. An address and contact field for liasion person/lead should be provided."
Related to #13 ? Curious to understand what the vision is for "Groups" in these ideas...

[2020-09-23 14:06] mstenta opened #15 "Lineage question"

[2020-09-23 14:08] mstenta commented on #15
"Lineage" of assets means "The parent(s) of this asset are ...", and by "parents" I mean literal biological parents (eg: This cow's mother is Bessy). All asset types in farmOS have the option of defining Lineage. This is useful mostly for animals, but can also be useful for Plantings (eg: in breeding/propogation scenarios). It's less clear how it could be used for Groups, but we still allow farmOS

[2020-09-30 16:14] mstenta commented on #1
Andrew says they have a server. We can follow up on this when we need to.

[2020-09-30 16:25] mstenta commented on #8
Andrew also asked: is it possible to have an ESRI .shp files.

[2020-10-02 07:12] LeScruf commented on #14
Assuming groups is used as a collective term for specific assets, we want to use this for creating 'projects' which have specific assets that are managed together. For example, NFA may have a client - such as the Uganda Electricity Distribution Company LtD (UEDCL) that wants to plant 1,000 ha of Eucalyptus for utility poles. This would then become a project, with a contact at UEDCL and a lead at N

[2020-10-02 07:13] LeScruf commented on #13
See https://github.com/mstenta/farm_nfa/issues/14

[2020-10-02 07:18] LeScruf commented on #12
Essentially - there should be a multi-year crop plan which can be calendared out where specific activities and be set to throw a reminder x-time before the activity is to be begun. This means that senior management can set up whole plantations and indeed the whole forest estate with activities due and with reminders as to when things should happen. In addition, these activities should then be post

[2020-10-02 07:54] LeScruf commented on #11
I am confused - it seems the season IS being populated? https://nfa.farmos.net/farm/assets/plantings - I just added a season for the long-rains for 2021 - and it seems to work fine. If we enter a decade's worth of seasons (two a year most likely - long and short rains) then this will work.

[2020-10-02 08:03] LeScruf commented on #10
So, each planting currently has a name field that is manually entered - this needs to go and be replaced with a script that concentanates the details entered in the planting form to CFR, Compartment Number, Sub-Compartment Number species code and season date - e.g. Mafuga/25/2/Eu-Gu/LR21 - that tells us everything we need to know (I think subject to confirmation) about the planting - location, spe

[2020-10-02 08:05] LeScruf commented on #9
Yes please. If possible.

[2020-10-02 08:10] LeScruf commented on #7
We need to fix this somehow - as it's going to get very confused very quickly when we start working at compartment level - there will be 500 x 'Compartment 1's etc. - for each forest reserve - and unless the hierarchy process and workflow is very straight-forward on the UI, it's gonna be fun (not). But if this is cracked it'll make the system impressively powerful.

[2020-10-02 08:12] LeScruf commented on #6
To be difficult - we need both - because users will be accessing the system for different reasons - sometimes to use the planning tool, sometimes to check out what the status of a boundary or compartmentalization of a reserve is - as a quick look. We want to have the system be both a quick reference tool as well as more detailed management tool.

[2020-10-02 08:14] LeScruf commented on #4
I don't think line widths for now are of importance, but what we do need is more exposure of the UI to line colours and possibly line formats (dotted, dashed and solid) - so that it's easy for an admin to adjust colour schemas as the NFA team decides. Linked to this, as we discussed, is being able to have a powerful layer control menu which is also user-privilege linked.

[2020-10-02 08:17] LeScruf commented on #3
KMLs are fine as far as they go, but .shp file imports would be even better given that they are much more frequently used and have a defined structure which includes meta-data fields and such as part of their table structure. I am assuming a .shp import library exists (since I frequently see this option on the web).

[2020-10-02 08:23] LeScruf commented on #2
So this is at conceptual stage and is linked to another project at NFA to set up a geoserver that acts as a repository for all of NFA's geospatial files. It will serve 1. Files that are in the public domain 2. Files that are not in the public doman and accessible for specified users. We have a way to go in figuring this out, but ultimately the idea being is that the geoserver serves all the polygo

[2020-10-02 12:52] mstenta commented on #1
Andrew provided server credentials. Closing this. We can make a separate issue for provisioning the server in the future.

[2020-10-02 12:52] #1 closed

[2020-10-08 14:02] mstenta commented on #2
Just adding notes from our call:

- They are in the process of updating all polygons
- WMS Layers + GeoServer will be important
- Possible to have ESRI importer? (see #3 )

[2020-10-08 14:11] mstenta commented on #3
@LeScruf can you provide some example SHP files for us to look at?

[2020-10-08 14:13] mstenta opened #16 "Restrict access to map layers based on roles/permissions"
Related to #9 (tracking changes to areas)

Notes from our call:

- Different users should see different layers
    - eg: Surveyor will go to CFR and look at boundaries
    - Only the Surveyor should be able to see the pending boundary adjustment
- Access control in the layerswitcher in farmOS-map perhaps

[2020-10-08 14:17] mstenta commented on #16
This sounds like it would be a "workflow" issue, whereby "revisions" to areas can be marked as "pending", and only certain roles have permission to view/edit/confirm those revisions before they become "canonical".

This is possible in Drupal 8/9 with the Worflows module.

[2020-10-08 14:21] mstenta commented on #4
Good to know.

How often do you expect these to change? It is MUCH easier to make these changes in code than it is to build a UI for changing them. And if these changes are only going to happen during the initial development, and won't be changing much after that, then a UI feels like overkill.

See #16

[2020-10-08 14:23] mstenta commented on #6
Thanks! Makes sense.

For future reference, the two paths we are discussing are:

- https://nfa.farmos.net/farm/areas (View Tree of area terms)
- https://nfa.farmos.net/ (dashboard panes)

[2020-10-08 14:36] mstenta commented on #7
If the "Relations" fields was an autocomplete text search for choosing the parent, would this work?

In general, the idea of having 500 areas under EACH forest reserve may prove to be a big problem in itself (apart from managing hierarchy). Taxonomy terms are really not designed for this kind of volume. In farmOS 2.x we plan to move areas to assets, but even there - this is a lot. So it makes me r

[2020-10-08 14:39] mstenta opened #17 "Figure out how to store compartments"
See this comment https://github.com/mstenta/farm_nfa/issues/7#issuecomment-705614397

Also potentially related: https://github.com/mstenta/farm_nfa/issues/6 (Will we need to be able to search/filter compartments as well?)

[2020-10-08 14:40] mstenta commented on #7
I opened a separate issue just for figuring out the compartment question: https://github.com/mstenta/farm_nfa/issues/17

We can leave this one for the hierarchy discussion.

[2020-10-08 14:42] mstenta commented on #8
See #3

[2020-10-08 14:45] mstenta commented on #10
Related to / blocked by #17

[2020-10-08 14:49] mstenta commented on #11
Ok - can we close this? I'm not sure "Seasons" will be useful for forest management in general. Perhaps we should just hide that field?

[2020-10-08 14:52] mstenta commented on #12
Renaming this to: Send notifications for planned activities (logs)

Should these notifications be emails?

[2020-10-08 14:53] mstenta commented on #12
Or, should we think about this as more of a UI component - like a more refined TODO list that shows what needs to be done?

[2020-10-08 14:59] mstenta commented on #13
I'm going to close this in favor of #14 - we have some ideas that we can discuss over there...

[2020-10-08 14:59] #13 closed

[2020-10-08 15:00] mstenta commented on #14
Thanks for the clarification - I think that maybe "Groups" is not the right approach for this. We may want to create a dedicated "Project" entity type for this.

Adding the "Discovery" label so we can discuss this together.

[2020-10-16 13:15] mstenta opened #18 "Add separators to the Logs menu and reorder to make it more clear"

[2020-10-16 13:16] mstenta opened #19 "Ability to rename things"
This has come up as a common need in various places:

[2020-10-16 13:21] mstenta opened #20 "Split Area column into “CFR” and “Compartment” in Logs Views"
Prerequisite: #17

As we talk more about the need to create a separation between "CFR" areas and "Compartment" areas, we need to figure out how to make that more visible throughout the UI. One place in particular is the "Areas" column of Views.

One idea here might be to just create new Views, with exactly the columns we want. It's more to maintain, but we can also use that to put into a custom me

[2020-10-16 13:23] mstenta opened #21 "Restrict access to users based on whether or not the log is relevant to them (Assigned)"

[2020-10-16 13:25] mstenta opened #22 "Adjust record auto-naming conventions to include CFR and Compartment"
Prerequisite: #17

Right now we auto-generate the names of Plantings, Harvests, Transplantings, etc when they are created by the Forest Plan forms (/farm/plan/%/*). These names should include the Compartment.

Needs clarification on what the full name pattern should be for each.

[2020-10-16 13:27] mstenta opened #23 "Add “Harvest Type” - 1st, 2nd, final"
Add a new field to harvest logs specific to forest harvest methods, with the following options:

- First harvest
- Second harvest
- Final

Question: will there ever be a "Third harvest"?

[2020-10-16 13:31] mstenta opened #24 "Simplify Log edit form"
This refers to the `/log/%/edit` form.

We may want to just leave these edit forms as-is, and provide OTHER forms that are more streamlined. That might be less work, and more payoff than trying to mess with the forms.

This is another thing that Drupal 8/9 would make a lot easier.

[2020-10-16 13:34] mstenta opened #25 "Ability to say that a particular area is occupied or available"
This could be a high-level report generator perhaps - that looks for any compartments without an active planting in them.

Related to #17

[2020-10-16 13:54] mstenta commented on #17
Another note:

Logs need a smart way of selecting the area context on logs. So for example, and input log needs to be associated with a Compartment/Sub-compartment, but you should be able to see the relationship to the other hierarchy.

Feels very related to this farmOS issue: https://www.drupal.org/project/farm/issues/2551073

[2020-10-16 14:00] mstenta opened #26 "Date formatting"

[2020-10-16 14:01] mstenta commented on #24
Also think through all these details for Input logs:

[2020-10-16 14:07] mstenta opened #27 "Improvements to the Harvest tab in Forest Plan"

[2020-10-16 14:07] mstenta commented on #25
Also:

[2020-10-16 14:09] mstenta commented on #24
Harvests:

Observations:

Seedings:

[2020-10-16 14:13] mstenta opened #28 "Granular geospatial and activity-based control over user access"

[2020-10-19 13:39] mstenta opened #29 "Improve filters for "Forest Plans" View"
The View currently building /farm/plans/forest is very simple - just "Plan ID", "Name", and "Active". Add more columns, exposed sort options, and filters to this that allow filtering by area and type (Natural vs Plantation).

[2020-10-19 13:48] mstenta opened #30 "Create more fields on Forest Plan entities"
From Andrew's requirements spreadsheet:

From our notes:

[2020-10-20 10:36] mstenta commented on #25
Also:

[2020-10-20 10:40] mstenta opened #31 "Split area selection into CFR + Compartment in Forest Plan Area tab"
Currently the Area tab of Forest Plans (/farm/plans/*/area) allows adding areas to the plan via a single auto-complete textfield.

We would like to split this into two dropdowns. The first should show a list of areas that are of type "CFR", and the second should be autopopulated based on the first selection, limited to areas of type "Compartment" that are children of that CFR (and sub-children).

[2020-10-20 10:48] mstenta opened #32 "Improve area selection field on Planting tab"
Related followup to #31

In the Planting tab of Forest Plans (/farm/plan/*/planting), in the form for adding/editing a planting, the user can select which area(s) the planting applies to via a set of checkboxes. These checkboxes show the areas that are part of the plan as options (areas that were selected from the Area tab).

These checkboxes should only show areas of type Compartment, unless ther

[2020-10-20 10:50] mstenta commented on #32
This also came up as an idea on our call, but should probably be split into its own issue if/when it becomes a priority:

It may have actually been in reference to #31 originally

[2020-10-20 10:52] mstenta commented on #25
As a first step, we could add some logic to the Area tab of plans (alongside #31).

[2020-10-20 10:53] mstenta commented on #31
See related: https://github.com/mstenta/farm_nfa/issues/25

[2020-10-20 11:01] mstenta opened #33 "Add a source field to the Planting form (text field)"
We need to be able to record where trees were sourced from and record that in the Planting tab of the Forest Plan.

This raises a small question about farmOS data model: we have a "Source" field on Seeding logs, but not on Transplanting logs. The Planting tab form in the Forest Plan creates a Planting asset and a Transplanting log, but it does not create a Seeding log.

So choices are:

- Add a So

[2020-10-20 11:13] mstenta opened #34 "Ability to draw specific area that a planting is in"
In the Planting form of Forest Plans, we allow selecting the area(s) that the planting is/will be in (see related: #32). When this form is saved, a Planting asset is saved to represent the trees, and a Transplanting log is saved to represent the act of putting those trees in the ground. When the Transplanting log is saved, the area(s) selected in the form are copied to the Transplanting log, and t

[2020-10-20 11:16] mstenta opened #35 "Area planted needs to be confirmed"

[2020-10-20 11:17] mstenta opened #36 "Projected values quick form"
From spreadsheet:

From call notes:

[2020-10-20 11:18] mstenta opened #37 "Yield curve formula/plots"
From spreadsheet:

From call notes:

[2020-10-20 11:36] mstenta opened #38 "Consider replacing fieldsets with Views"
This idea came up on our call with Andrew.

In the Planting, Management, Inventory, and Harvest tabs of Forest Plans, we load all associated logs into editable fieldset forms. Instead of doing this, the idea is to make these pages into Views that show read-only information about the logs.

The second half of this task would be moving those forms themselves to a separate page callback (eg: /farm/pl

[2020-10-20 11:40] mstenta opened #39 "Typology of tasks"
From the spreadsheet:

From our call notes:

This could be added as a custom Taxonomy, with a term reference field on Logs.

farmOS already has "Log category" taxonomy+field on all log types, which is a perfect fit for this. However, we are already using that to represent "Working Circles" for NFA's needs. It may be best to rethink the Working Circles storage, and use Log categories for this typol

[2020-10-20 11:43] mstenta opened #40 "Figure out a better place to store Working Circle information"
Related to: #39

Right now, we are using farmOS's "Log categories" taxonomy for "Working Circles" (a concept that NFA uses to represent the groups of people involved with the work). In #39, we want to start using "Log categories" for the Typology of activities, which is a closer fit to that field/taxonomy's original purpose.

This means we need to figure out a better place for Working Circle infor

[2020-10-20 11:44] mstenta commented on #40
Adding "needs review" and assigning to Andrew - can you provide an overview of Working Circles for record, so we can better understand what they represent and how they are used in practice at NFA?

[2020-10-20 11:48] mstenta opened #41 "Allow linking logs to specific plantings/areas in Forest tabs/forms"
In the Management, Inventory, and Harvest tabs of Forest Plans, logs can be created. These are automatically associated with ALL areas and planting assets in the plan.

This feature request is to expose checkbox options in the fieldsets that allow selecting which areas/assets the activity pertains to, instead of automatically associating it with all of them.

[2020-10-20 11:50] mstenta opened #42 "Multiple costs/incomes per activity"
The NFA module adds a custom Budget tab to Forest plans, and automatically creates a budget line for each log associated with the plan. These only allow a single cost/income value per log. Andrew said we may need to support more.

From call notes:

[2020-10-20 11:52] mstenta opened #43 "Use date popup instead of dropdowns"
Throughout the Forest plan tabs, there are date selection fields that are dropdown select lists. Change these to calendar popups.

[2020-10-20 11:53] mstenta opened #44 "Add additional fields to Inventory form"
From spreadsheet:

[2020-10-20 11:58] mstenta commented on #41
Generalizing this to apply to all log types... not just the Management tab.

[2020-10-20 11:59] mstenta commented on #38
Add a filter for "Compartment"

[2020-10-20 12:02] mstenta opened #45 "Projection of economic value"
From spreadsheet:

From call notes:

[2020-10-20 12:03] mstenta opened #46 "Restrict Forest Plan Settings tab to admin roles"

[2020-10-20 12:54] mstenta commented on #17
Email thread with Andrew for reference:

@mstenta:

@LeScruf :

@mstenta :

@LeScruf :

(URL and credentials redacted. I can provide as needed.)

@mstenta :

[2020-10-20 18:49] mstenta commented on #17
Further information from the Land Management Officer:

[2021-01-20 14:26] mstenta opened #47 "Migrate/import areas from 1.x to 2.x"

[2021-02-10 16:08] mstenta commented on #47
Performed an initial migration this morning - worked well!

I had to manually override the `migrate_plus.migration.farm_migrate_area_forest` config to include the area types defined by the `farm_nfa` module. So we'll need to figure out how to handle that permanently.

The 1.x database snapshot is now running in a `db1x` Docker container alongside the new PostgreSQL one. So we can re-run the migrat

[2021-02-10 16:08] #47 closed

[2021-03-27 00:34] paul121 opened #49 "Wrong plan.edit permission in route definitions"
Was referencing the 2.x plan module for something.. I don't think `plan.edit` is a valid `_entity_access` value. It should be `plan.update`. It still works for the admin users, but a `farm_manager` will not have access.

https://github.com/mstenta/farm_nfa/blob/2.x/web/modules/custom/farm_nfa/farm_nfa.routing.yml#L8

[2021-03-29 13:40] pcambra commented on #49
This was a very instructive read, as I was looking at why this might be the case, on Drupal\entity\checkEntityPermissions

[code]

So it's basically whatever we define on the permission provider, which by default is create, update, delete, view :)\

Thanks for letting me know @paul121 !

[2021-03-29 13:44] pcambra commented on #49
Pushed a fix for this on #48 /c @mstenta

[2021-03-29 15:16] pcambra opened #50 "Plan forms"
https://nfa.farmos.net/farm/plan/9/management
https://nfa.farmos.net/farm/plan/9/inventory
https://nfa.farmos.net/farm/plan/9/harvest
- [x] Show Views of Logs under the form
- [x] Load log info into the form from the View
- [x] Maybe use off-canvas instead for editing?
- [x] Start with Management because it’s simplest, doesn’t have Quantities, etc -

Related to #48

[2021-03-29 15:21] paul121 commented on #49
@pcambra ah cool! So when we create custom permissions the first word becomes the "operation". That could be useful! Good to know.

[2021-04-24 15:23] pcambra opened #51 "Build a simplified field widget for quantity on logs"
This is to handle an alternative simplified way of creating logs that is not dependent on IEF.
The configuration options should provide a way to enter value with a preselected quantity type, label and unit.
One of the key features of the widget should be "strict" data input, where a fixed number of quantities with a fixed selection of data is configured. I.e. for forest plan log inventory:

![imag

[2021-04-24 15:25] pcambra commented on #51
Tagging @mstenta and @paul121

[2021-04-26 12:55] mstenta commented on #51
Another layer of complexity to add to this: in 1.x (where all of this stuff was hard-coded into the forest management form builder functions), it automatically toggled between "metric" and "us/imperial" units: https://github.com/farmOS/farm_forest/blob/2776d5ca843da54ec6826d9010d52a5b09823d19/farm_forest.plan.inventory.inc#L65

So this would actually need to be able to specify TWO units for each..

[2021-05-11 16:48] LeScruf opened #52 "Add plan - forests list incorrect"
When adding a plan, the forest list (for selecting which forests to include in the plan) is incorrect - it seems to be filtering a mix of forest zones and compartments. This needs to be corrected to actual forests (CFRs).

[2021-06-02 13:30] pcambra opened #53 "Make forest an autocomplete on plan>forest"
Review it with @mstenta to see if we can make it a farmos core issue (https://nfa2x.farmos.net/plans/forest)

[2021-06-02 13:32] pcambra opened #54 "Create new default taxonomy terms"
For taxonomies: "Purpose" and "Vegetation".

On https://nfa2x.farmos.net/asset/add/forest, "Predominant vegetation" and "Purpose", they should be multiselect.

TBD: Terms?

[2021-06-02 13:33] pcambra commented on #54
@LeScruf to provide a list of the purposes and vegetations

[2021-06-02 13:36] pcambra opened #55 "Make the label of forest asset "Forest (CFR)""
Add it as config rewrite on the farm_nfa config

[2021-06-02 13:41] pcambra opened #56 "Replace "Serial number (1994)" field by "Statutory instrument serial numer" on Forest asset"
Including machine name (replace the whole field)

[2021-06-02 13:48] pcambra opened #57 "On forest asset, make the "Year of survey" multivalued"

[2021-06-02 13:50] pcambra opened #58 "On Forest asset type, add a multiple valued media field labeled "Boundary plan maps""
Add a media entity type "Boundary plan maps" with 3 fields:

- Boundary plan number
- Date
- Image

Delete the field "Boundary plan number"

How should it be visualized:

When a forest is displayed, a list of boundary plan numbers is displayed, each number is linked to the image uploaded. (Overlay?)

[2021-06-02 13:54] pcambra opened #59 "Clarify what are the final asset types"

[2021-06-02 14:02] pcambra opened #60 "Remove "Forest opportunities" taxonomy and "Opportunities" field on forest asset type"

[2021-06-02 14:03] pcambra opened #61 "Remove "Forest category" taxonomy and "category" field on forest asset type"

[2021-06-02 14:16] pcambra opened #62 "Change "forest type" field on forest asset to be checkboxes"
This way a forest (CFR) can be Natural stand, plantation or both

Confirm with @mstenta if we make this change upstream in farm_forest

[2021-06-02 14:43] mstenta commented on #59
Some notes from our call this morning:

- Forest assets vs Land assets
- Natural forests vs Plantations
- New asset types?
    - Compartment?
    - Crop? (to represent the crop that will be harvested) or perhaps Forest represents that, and we make a new CFR type?

Need a list of fields from Andrew to determine which asset types we need.

Also remember to think about asset fields and plan fields se

[2021-06-02 14:52] mstenta commented on #59
Worth asking: does this NEED to be tracked in farmOS (it certainly can), or is it already being tracked in the Tree Farmer CRM, and will that suffice (with a simple link back to the higher level Forest/CFR/Land assets)?

[2021-06-04 15:01] mstenta commented on #59
Notes June 4, 2021:

- Single Forest asset type
- Multi-select "Forest Type" w/ options: Natural stand, Plantation (checkboxes)
- Depending on which types are selected, show/hide relevant fields

Important to distinguish "hierarchy" considerations from "data model" considerations. Technically, there is no enforcement of asset hierarchy rules - this will ultimately be up to the users to follow thei

[2021-06-10 10:59] LeScruf opened #63 "Mapbox underlay maps not displaying"
Just incase this hasn't been logged...

[2021-06-10 11:34] mstenta commented on #63
@pcambra there are two pieces to this: 1) MapBox API key in `settings.local.php` (I think we set this up together), 2) Install the `farm_map_mapbox` module (maybe we can make this part of the exported config for future deployments).

For now I think `drush en farm_map_mapbox` will enable the MapBox layers...

[2021-06-10 15:35] mstenta commented on #63
@LeScruf : @pcambra and I debugged this and realized it was due to the fact that the URL changed from nfa2x.farmos.net. The MapBox API key is associated with a specific set of URLs, so I added the new URL and now it should be working.

[2021-06-10 15:35] #63 closed

[2021-06-10 15:47] LeScruf commented on #59
Asse form field design at https://docs.google.com/spreadsheets/d/13SAtfA-iCbzW9dfbMd-HvYuY8LYmJ8BdS51D-dHO5ek/edit#gid=118171807

[2021-06-16 14:29] mstenta commented on #59
Summary of asset types in document (and highlights of field changes):

- Land (Admin)
    - Use existing Land type, rename to "Land (Admin)"
    - Add custom land type configs
    - Add field: "If other, specify" (text)
    - Add field: "Person in-charge (i/c)" - add as bundle field so filter auto-appears
        - Also add field to Users: "Contact phone number"
        - When the person in charge

[2021-06-16 14:31] pcambra opened #64 "Clarify what are the final plan types"
See #59

Reference: https://docs.google.com/spreadsheets/d/13SAtfA-iCbzW9dfbMd-HvYuY8LYmJ8BdS51D-dHO5ek/edit#gid=60580736

[2021-06-16 14:31] pcambra opened #65 "Clarify what are the final log types"
https://docs.google.com/spreadsheets/d/13SAtfA-iCbzW9dfbMd-HvYuY8LYmJ8BdS51D-dHO5ek/edit#gid=60580736
See #59

[2021-06-21 12:41] mstenta commented on #64
It sounds like we should create a custom plan type called "Plantation plan", and move all the existing workflows/logic into that.

A prerequisite for this is to DISABLE the default "Forest" plan. Create a `farm_forest_plan` sub-module in the `farm_forest` project - move general plan to this, and do not enable in NFA.

In the future, we can add an additional plan type for "Natural forest plans" spe

[2021-06-21 12:42] mstenta commented on #64
See "NFA asset, log, plan form fields" doc for Forest Plantation Plan fields.

[2021-06-21 13:01] mstenta commented on #64
We talked about how it would be very nice to have a *single* form for creating:

- Forest plantation plan (plan)
- Forest asset (asset, forest type: plantation)
- Planting date (log)
- Planned harvest (log)
- Planned prescription (log)

[2021-06-24 09:56] pcambra commented on #62
@mstenta I think we can close this one, right?

[2021-06-24 12:28] mstenta commented on #62
Yes! I did this on Monday after our call.

Here is the upstream issue for reference: https://www.drupal.org/project/farm_forest/issues/3219891

[2021-06-24 12:28] #62 closed

[2021-07-02 15:50] pcambra commented on #58
This will be taken care of as part of https://github.com/mstenta/farm_nfa/issues/59

[2021-07-05 11:47] pcambra commented on #59
@mstenta as we change the whole asset structure, I  think we need to redo the migrations, or at least clear the data on the live instance, do you have any feedback about this?

[2021-07-12 15:22] mstenta commented on #59
@pcambra Yes we will need to update the migrations once the asset types are settled. It should be easy, though. The current migrations are essentially just pulling in the "Areas" from the old system, and creating them as either Land or Forest assets depending on the "Area type" field from 1.x.

https://github.com/mstenta/farm_nfa/blob/2.x/web/modules/custom/farm_nfa/config/optional/migrate_plus.mi

[2021-07-12 15:27] pcambra commented on #59
Thanks @mstenta :) could we for example rollback all existing migrations and rework them later?

[2021-07-12 15:43] mstenta commented on #59
Sure that makes sense - it just means there will be no content (other than manually created) until the new asset types and migrations are ready - but that's probably OK.

[2021-07-19 08:44] pcambra commented on #59
@LeScruf I've just deployed the asset type structure discussed here so you can evaluate what can be improved

[2021-07-19 08:46] #61 closed

[2021-07-19 08:46] #60 closed

[2021-07-19 08:48] #57 closed

[2021-07-19 08:48] #55 closed

[2021-07-30 12:17] pcambra opened #66 "Adapt the migrations to the new asset type structure"
I need @mstenta support with this

[2021-07-30 12:19] pcambra commented on #66
Forest migrations need to default as natural stands

[2021-07-30 12:26] mstenta opened #67 "Asset search box on the dashboard"
Start with a simple text search box that searches asset names.

[2021-07-30 12:28] mstenta commented on #67
On submit, redirect to `/assets` with the "asset name" exposed filter populated.

[2021-07-30 12:29] mstenta commented on #67
Maybe a block above the existing "Metrics" block.

[2021-07-30 15:09] mstenta commented on #66
@pcambra I pushed a `2.x-migration-updates` branch that makes the necessary changes: https://github.com/mstenta/farm_nfa/compare/2.x...2.x-migration-updates

This is ready to be re-run, but there are a few things to note (waiting for feedback from @LeScruf in email thread subject "Migration questions":

- Areas of type `nursery` in the old database are migrated to Forest assets of type `plantation

[2021-07-30 15:10] mstenta commented on #66
Assigning to you @pcambra - feel free to merge `2.x-migration-updates` into `2.x` if everything works!

[2021-07-30 15:21] pcambra commented on #66
Re-migration instructions:

- Rollback current migrations
- Update the code and make sure this is included https://github.com/farmOS/farm_forest/commit/fc1876e6a49ebcd746b737273c7ef12fbc220c48#diff-09c95abe06dafd7db62b6edd721c647913348ea3502f8071424fa7d060ba78fd
- Import migration configs:
[code]

- Revert land and forest migrations
- Delete farm_land.land_type.zone config
- Run the migrations aga

[2021-08-02 14:09] mstenta commented on #64
- Sketch out two plan types
    - Plantation Plan
    - Natural Forest Plan
- Disable the default Forest plan

[2021-08-02 15:57] mstenta commented on #64
The custom plan types should reference CFR assets, not Forest assets, per discussion with @LeScruf today. We will need the ability to drill down to select the compartment/forest assets that logs are being applied to within the management, inventory, and harvest forms - which present children of the CFR(s) as available options.

[2021-08-02 16:43] mstenta commented on #64
I pushed a commit that adds two custom plan types with a CFR reference field on each.

[2021-08-04 11:30] pcambra opened #68 "Private files migration"
Private files migration might be failing because the files are not moved yet?

[code]

[2021-08-04 11:41] mstenta commented on #68
We can check to see if any of these are necessary to migrate. They may have just been tests. Or they may be KML file uploads that were used in the old database to import areas.

[2021-08-05 13:57] pcambra commented on #66
@LeScruf the migration has been adapted to the new asset types and the data updated on the live environment.

[2021-08-05 13:57] #66 closed

[2021-08-11 13:43] pcambra commented on #50
Ensure that the plan forms are added to the new natural forest and forest plantation plans.
Add the geometry field to the management form.

[2021-08-11 13:53] pcambra opened #69 "Add a location select widget for the plan forms"

[2021-08-19 13:13] pcambra opened #70 "When you open a plantation plan, the "Inventory" tab should open the Plantation inventory log type form"
Create the plantation inventory bundle
Switch the form to use that for plantation plans

Working circle field should be hidden and a default value of "Production" should be saved for all plantation inventory logs.

[2021-08-19 13:19] pcambra opened #71 "On +Add management log form, for both NF and P plan types, remove input and add Boundary demarcation and maintance"
The task type dropdown should have

- Boundary demarcation
- Boundary maintenance
- Activity

See https://docs.google.com/spreadsheets/d/13SAtfA-iCbzW9dfbMd-HvYuY8LYmJ8BdS51D-dHO5ek/edit?skip_itp2_check=true&pli=1#gid=982411780

[2021-08-19 13:25] pcambra opened #72 "Build a specific quantity widget for the plantation inventory fields (3)"
Volume	m3 / ha
MAI	m3 / yr
CAI	m3/ yr

As noted in https://docs.google.com/spreadsheets/d/13SAtfA-iCbzW9dfbMd-HvYuY8LYmJ8BdS51D-dHO5ek/edit?skip_itp2_check=true&pli=1#gid=982411780

The three are volume, units are m3, but label needs to be informative

[2021-08-19 13:28] pcambra opened #73 "Create the MAI Graph"
Plotted MAI vs expect MAI curve

Plotted MAI data comes from the plantation inventory logs.

Expected MAI curve comes from the species of the plantation (standard)

[2021-08-19 13:29] pcambra commented on #73
@LeScruf to provide an example and the data reference per species

[2021-08-19 13:54] pcambra opened #74 "Map drawing widget in plan forms"
- Zoom to assets referenced in plan
- Auto-copy shapes from referenced assets in from

[2021-08-20 10:23] pcambra opened #75 "On plans filter, CFR need to be an autocomplete"
Also add type as a filter (Natural forest vs Plantation)

[2021-08-20 10:31] pcambra opened #76 "Add instructions on the CFRs field to indicate what to do to fix/add CFRs or add compartments"

[2021-08-20 10:37] pcambra opened #77 "Replace log categories by activity types"
- Silvicultural activities
  - clearing
  - pitting out
  - planting
  - weeding
  - beating up
  - fire break creation
  - fire break maintenance
  - herbicide spraying
  - pesticide spraying
  - thinning
  - pruning
  - de-snagging
  - inventory
  - harvest
 - Meeting activities (multiple)
  - Community meetings
  - Local government meetings
  - Partner meetings
 - Law enforcement
  - Patrol
  -

[2021-08-20 10:40] pcambra opened #78 "A compartment once planted - unless it has a sub-compartment that has not been planted should no longer be available for selection for planting, until it is harvested (i.e. released)."

[2021-08-20 10:45] pcambra commented on #78
TBD

[2021-08-20 10:53] pcambra commented on #75
@mstenta We already have the Parents field, maybe we should remove the field altogether

[2021-08-20 15:26] pcambra commented on #75
I've removed the field for the time being

[2021-08-20 16:02] pcambra commented on #75
We're limited by https://www.drupal.org/project/drupal/issues/2429699

[2021-08-20 16:12] pcambra commented on #70
@LeScruf this is now deployed and the compartment autocomplete should display only compartments within the CFRs of the plan.

Can be tested in http://nfa.ddev.site/plans/plantation

[2021-08-25 13:49] pcambra opened #79 "Define the fields for each management task form"
https://docs.google.com/spreadsheets/d/13SAtfA-iCbzW9dfbMd-HvYuY8LYmJ8BdS51D-dHO5ek/edit#gid=60580736

[2021-08-27 15:10] pcambra opened #80 "Clean up 1.x data for migration"
Roles TBD

[2021-08-27 15:10] pcambra opened #81 "Dashboard asset search block"
Add a new block on the dashboard with a textfield that allows to search for assets with autocomplete.

Quickjump if exact match.

Asset list filtered if not exact match.

[2021-08-27 15:11] pcambra opened #82 "Hide "Add Asset/Log/Plan" from dashboard"

[2021-08-27 15:15] pcambra opened #83 "Hide Menu items"
- Locations
- Plan
  - Forest plans (disable farm_forest_plan submodule)
- Records
  - Assets
    - Land (admin)
    - Block
- Logs
  - Input (disable the farm_input module)
- Quantities

[2021-08-27 15:49] pcambra opened #84 "Hide harvest tab on Natural Forest Plans (only on Plantation plans)"

[2021-08-27 15:50] pcambra opened #85 "Add a Global forest watch (GFW) placeholder tab on the Natural forests plans"

[2021-08-27 15:56] pcambra opened #86 "HQ / Field roles + PoC of approval workflow"

[2021-08-27 16:02] pcambra opened #87 "Dashboard plan search block"
Add a new block on the dashboard with a textfield that allows to search for plans with autocomplete.

Quickjump if exact match.

Asset list filtered if not exact match.

[2021-08-27 16:03] pcambra opened #88 "Observation quick form"
Field observations.

Related to Quick forms and Field kit

[2021-08-27 16:04] pcambra opened #89 "Do not migrate Nurseries into Forests"

[2021-08-27 16:04] pcambra opened #90 "Add Reports link to main menu"
(placeholder with TBD content)

[2021-08-27 16:05] pcambra opened #91 "Plans UI dashboard"
Mock dashboard
- Map of all CFRs within the plan
- Table of all tasks/activities
- Yield curve (placeholder)

[2021-08-27 16:07] pcambra opened #92 "New planting log type for plans"
See notes from https://docs.google.com/document/d/1DtT3WLLfm9gCbkRVGKGhthVztVfl3P96zFZ4A7X6Wp8/edit#

Planting/Enrichment tab
- Keep it separate from Management, so that additional logic/UI can be added (eg: making sure you don’t plant the same compartment)
- A map of all compartments in the plan, with some indication of which ones are planted, and which ones aren’t

Add Planting tab for both natu

[2021-09-10 14:17] pcambra opened #93 "Expose file upload field for KML uploads"

[2021-09-10 17:36] mstenta commented on #75
We are looking into either including the core patch from https://www.drupal.org/project/drupal/issues/2429699 in farmOS itself, or implementing our own plugin in the meantime. So assuming we get that working, this CFR field *should* become an autocomplete with the next release of farmOS.

We have separate plan types for "Natural forest" and "Plantation" now so I don't think this is relevant anymor

[2021-09-10 17:38] mstenta opened #94 "Update to farmOS 2.0.0-alpha3"
farmOS 2.0.0-alpha3 will be released soon, and includes some updates that we need/want in NFA.

I'm creating this as an issue just so we remember to factor in the update and deployment process (lots of potentially breaking changes will require us to do a fresh install and migration), and also so we can reference it from other issues.

[2021-09-10 17:40] mstenta commented on #75
- #94

I will close this issue if/when the solution is merged upstream, and then we can roll it out with #94.

[2021-09-10 17:40] mstenta commented on #93
Depends on #94

[2021-09-10 17:49] mstenta commented on #93
Actually @pcambra in theory this only requires adding the `file` field alongside the `geometry` field in the form view mode(s). And then once #94 happens (farmOS 2.0.0-alpha3) then the "Import Geometry from uploaded files" button *should* automatically appear below the `geometry` map, and it will "just work"!

So maybe a first step is to simply add the `file` field to the view mode? I will assign

[2021-09-10 17:52] mstenta commented on #89
Opened a pull request: https://github.com/mstenta/farm_nfa/pull/95

[2021-09-10 17:53] mstenta commented on #76
@pcambra can you post a quick screenshot of what this field looks like now? I can draft some copy for this.

[2021-09-11 16:58] pcambra commented on #76
@mstenta as far as I understand this, this is for the add plan form, when you're adding a plantation/natural forest plan, there's a CFR field `plan/add/natural` for example

![image](https://user-images.githubusercontent.com/104912/132955450-be8acd38-b6ca-408e-920d-12612e1130b9.png)

[2021-09-13 12:04] mstenta commented on #76
Ah now that I think about it, I believe this is actually related to https://github.com/mstenta/farm_nfa/issues/74

In the location widget, users will be selecting existing CFRs, and then existing compartments. But @LeScruf described cases where Compartments may not be created yet under certain CFRs, and so users may need to create them before they can record a log against them.

So this may end up

[2021-09-13 12:06] mstenta commented on #74
See https://github.com/mstenta/farm_nfa/issues/76 for Compartment creation help text.

[2021-09-14 09:28] pcambra commented on #82
![image](https://user-images.githubusercontent.com/104912/133232532-973718fb-9d2e-4927-9941-468874c17625.png)

[2021-09-14 09:30] pcambra commented on #84
https://forests.nfa.go.ug/plan/4

[2021-09-15 18:48] mstenta commented on #94
Just a reminder: we can update the migration instructions in this repo's README.md after alpha3, because we've resolved some of the migration rollback issues, and are going to introduce a simple `drush farm_migrate:import` command that runs all migrations in the correct order.

[2021-09-16 23:04] mstenta commented on #94
farmOS is removing `config_rewrite`, so we will need to include it explicitly in this project.

[2021-09-17 12:46] mstenta commented on #94
Another consideration we should think about: we're adding a `farm_update` module that will automatically revert overridden configuration on cache rebuilds. We can either disable this module in NFA, or we can use one of the options available for excluding certain items from automatic reverts.

[2021-09-22 13:31] pcambra commented on #74
Discuss with @mstenta regarding the compartments vs locations + assets and autorefreshing the map the same way as the KML import (alpha3) works.

[2021-09-22 13:47] pcambra commented on #77
- Hide the Log category form from activity logs
- Add a new Activity type taxonomy
- Add a new "activity type" entity reference field on activity logs (Cardinality: 1)

[2021-09-22 13:49] pcambra opened #101 "Stop populating log category default content (leave it empty for now)"

[2021-09-22 13:52] pcambra commented on #92
@mstenta can we haz the tree species from the old system? i.e migration? export?

[2021-09-22 13:59] pcambra opened #102 "Clone the observation log type into one named "Natural inventory""
Machine name: natural_inventory

Use natural inventory on the natural forest "Inventory" tab.

Leave observation in the system for now.

[2021-09-22 14:03] pcambra opened #103 "Draw via GPS"
Related to https://github.com/farmOS/farmOS-map/issues/51

[2021-09-22 19:53] mstenta commented on #94
Opened a pull request: https://github.com/mstenta/farm_nfa/pull/104

This did not get merged before tagging `2.0.0-alpha3` so we don't need to think about it (yet).

[2021-09-22 19:57] mstenta commented on #75
This did not make it into farmOS 2.0.0-alpha3, unfortunately - but should be finished soon. So we can either wait for a new tagged version that includes it or maybe pin to a commit hash if we need to. Or even include a patch if we want to stick with a tagged version. I'll update this again when we have it working upstream.

[2021-09-28 14:48] paul121 commented on #75
https://www.drupal.org/project/farm/issues/3185188#comment-14234000

I described two approaches in this comment. We are leaning towards using the core patch right now

[2021-10-04 16:28] mstenta commented on #75
This is merged into farmOS 2.x :-)

Ready to deploy and test.

[2021-10-04 16:29] mstenta commented on #90
Merged!

[2021-10-05 12:54] LeScruf opened #109 "Bug - deleting task on Plantation inventory leads to strange behaviour"
![image](https://user-images.githubusercontent.com/14791005/136026446-4f6311c1-88c7-4f9b-b2a2-f4a9c608d580.png)

resulted in this:

![image](https://user-images.githubusercontent.com/14791005/136026222-f31824cc-bec1-451b-94fd-373a30795023.png)

But the task was deleted.

[2021-10-05 12:58] LeScruf opened #110 "Bug - 'add management task' on Plantation Plan doesn't work"
![image](https://user-images.githubusercontent.com/14791005/136027270-f0e70248-9a68-45d8-95d2-38720f6c32ec.png)

[2021-10-05 18:07] pcambra commented on #101
I think this is something we need to stop migrating in?

[2021-10-05 18:09] mstenta commented on #101
Ah yea you're right - I think we can just stop migrating the `farm_migrate_taxonomy` group. So remove this from the steps in the README:

[code]

[2021-10-05 23:02] pcambra commented on #74
I don't think we can manage auto refresh for MVP but the remainder would be ready to evaluate now.

[2021-10-05 23:03] pcambra commented on #94
We can close this one after updating to Alpha 4

[2021-10-05 23:03] #94 closed

[2021-10-05 23:03] pcambra commented on #93
This is now ready to evaluate

[2021-10-05 23:04] pcambra commented on #76
We need to discuss this as the PR above is not clear

[2021-10-05 23:04] pcambra commented on #102
This is now ready to review

[2021-10-05 23:08] #101 closed

[2021-10-05 23:10] pcambra commented on #109
This should be fixed now :)

[2021-10-05 23:10] pcambra commented on #110
I haven't been able to reproduce this one, maybe after reinstalling it got fixed

[2021-10-06 13:01] LeScruf commented on #91
[Natural Forest Plan - summary.pdf](https://github.com/mstenta/farm_nfa/files/7293951/Natural.Forest.Plan.-.summary.pdf)
[PlantationPlan - summary.pdf](https://github.com/mstenta/farm_nfa/files/7293954/PlantationPlan.-.summary.pdf)

[2021-10-06 13:40] pcambra opened #111 "Remove the subscriber that removes the "all locations" layer for the add task route"
Harvest already works that way

[2021-10-06 13:40] pcambra opened #112 "When adding a second compartment in the location on the management form, the second item is not filtered by CFR"

[2021-10-06 13:40] pcambra opened #113 "Review all the year-month fields on the logs and ensure there are no disabled months"

[2021-10-06 13:40] pcambra opened #114 "Inventory logs show up on management tab for plans"

[2021-10-06 13:43] pcambra opened #115 "Hide "is location" and "is fixed" fields on the asset entity form"
Ensure that upon creation both fields are enabled

[2021-10-06 13:52] pcambra opened #116 "Add an additional status "Ongoing" on the state field for logs"

[2021-10-06 13:53] pcambra opened #117 "Add a view block that is displayed on the plan summary page that shows all the logs that have the priority flag ticked and are not done"

[2021-10-06 13:53] pcambra opened #118 "Expose the Flags field on all plan task log forms"

[2021-10-06 13:58] pcambra commented on #91
Add the popup behaviour for the map on plans

[2021-10-06 15:58] LeScruf opened #119 "Activity - form Location of assets + location widget"
The activity form (CFR -> Add activity) seems to have a double location functionality (select assets and the location widget) - I can't work out why ... see screenshot below:
![image](https://user-images.githubusercontent.com/14791005/136240298-dad05f05-ab8c-4bca-b72d-f9d12a212e55.png)

[2021-10-06 16:03] LeScruf commented on #74
I think for a first iteration of the widget, this is great. However, it doesn't seem possible to clear polygons once drawn?

[2021-10-06 16:05] #110 closed

[2021-10-06 16:06] #89 closed, assigned to mstenta

[2021-10-06 16:08] LeScruf commented on #90
Thanks - this will be quite a hot topic when dicussed with NFA I think...

[2021-10-06 16:08] #90 closed, assigned to LeScruf

[2021-10-06 16:17] #75 closed

[2021-10-06 16:21] pcambra commented on #109
@LeScruf this is strange, this is how it should behave instead

https://user-images.githubusercontent.com/104912/136243988-a48f4d5a-a120-4292-ba3e-4b4c9d905a90.mov

:

[2021-10-06 16:27] LeScruf commented on #93
It's not immediately obvious in the workflow how one uploads the kml once it has been selected from a local source using the browse button?

[2021-10-06 16:28] LeScruf commented on #70
Yes - seems to be working fine. Thks!

[2021-10-06 16:28] #70 closed

[2021-10-06 16:35] LeScruf opened #120 "Sorting - on the main dashboard"
It would be good to be able to sort any list of assets on the main dashboard by any column - if possible. Currently name of assets only is sortable. e.g. below:

![image](https://user-images.githubusercontent.com/14791005/136246143-5f9ed158-734f-4939-9ace-548b0d8c83b0.png)

[2021-10-06 16:40] LeScruf opened #121 "Clone all CFRs that do not have compartments as compartments of themselves"
I can do this manually (over an exceptionally long vodka martini) - or @pcambra and @mstenta can be far cleverer and script it. Which ever works - or a combination thereof. Or else we will run into problems creating tasks for any CFR that is not compartmented.

[2021-10-06 16:43] LeScruf commented on #80
Baring issue #121 this seems to have gone off perfectly.

[2021-10-06 16:43] #80 closed, assigned to LeScruf

[2021-10-06 16:44] LeScruf opened #122 "Customise quantity widget for harvests"
@LeScruf to provide details for @pcambra

[2021-10-06 17:00] LeScruf commented on #109
It happened just now twice in a row - I recorded the second time:

https://user-images.githubusercontent.com/14791005/136249787-143873bb-0af9-4c9a-a72d-cfbdf38b846a.mov

[2021-10-11 11:25] pcambra commented on #118
All log types: admin/structure/log-type

[2021-10-15 08:34] LeScruf opened #123 "Branding - NFA"
A quick one - we need to remove the top left FarmOS badge and replace it with an NFA logo:[](url
![NFA - Short Logo - better](https://user-images.githubusercontent.com/14791005/137457574-d4b10b79-ae8e-40c3-83ba-b0e408453dc0.png)
)

I think it's ok to cleave off the tree and just keep the 'NFA'
![NFA - Short Logo Acronym](https://user-images.githubusercontent.com/14791005/137457919-8aca1234-8df2-44

[2021-10-15 10:17] #116 closed, assigned to LeScruf

[2021-10-15 10:19] pcambra commented on #93
@LeScruf could you send me a example KML to test this?

[2021-10-15 10:27] pcambra commented on #93
Error on upload regarding serialization:

The website encountered an unexpected error. Please try again later.Exception: Serialization of &#039;Symfony\\Component\\HttpFoundation\\File\\UploadedFile&#039; is not allowed in serialize()

[2021-10-15 10:29] pcambra opened #124 "You should not be able to add duplicated compartments on the log forms for plans"

[2021-10-15 10:29] #118 closed, assigned to LeScruf

[2021-10-15 10:31] #117 closed

[2021-10-15 10:39] pcambra opened #125 "Add a simplified version (role based, NFA admin) of the admin tasks"
Related to https://github.com/mstenta/farm_nfa/issues/86

[2021-10-15 15:57] pcambra opened #126 "Add migration for tree species from 1.x"
Related to #92

[2021-10-15 16:01] pcambra opened #127 "Add asset button is missing"
Other add buttons on listings? Not logs.

[2021-10-15 16:02] pcambra opened #128 "Notice on editing logs"
https://forests.nfa.go.ug/plan/2/add-harvest?_wrapper_format=drupal_dialog.off_canvas
--
https://forests.nfa.go.ug/plan/2/harvest

Notice: Undefined index: location in Drupal\farm_nfa\Form\ForestPlanBaseForm->buildForm() (line 109 of /var/www/web/modules/custom/farm_nfa/src/Form/ForestPlanBaseForm.php)

#0 /var/www/web/core/includes/bootstrap.inc(312): _drupal_error_handler_real(8, 'Undefined inde

[2021-10-15 16:46] pcambra commented on #123
https://tenor.com/es/ver/make-it-bigger-rick-clash-royale-bigger-and-better-improve-it-gif-22754642

[2021-10-15 17:57] #128 closed, assigned to nobody

[2021-10-15 21:11] pcambra commented on #122
Seems this one can be done with measurement quantity type, but I need to look at this closer.

[2021-10-15 23:22] #127 closed

[2021-10-15 23:23] #111 closed

[2021-10-19 06:51] LeScruf commented on #123
Here's the logo on very similar dimensions - width identical, height <2px
![NFA - Short Logo Acronym](https://user-images.githubusercontent.com/14791005/137858337-a2ee8c7d-0771-43c6-b9c9-0f9aac567e71.png)
.

[2021-10-19 12:20] pcambra commented on #123
@LeScruf changed

[2021-10-20 13:09] #91 closed

[2021-10-20 13:18] #76 closed

[2021-10-20 13:24] pcambra opened #130 "Add the popup behaviour to the plan summary dashboard map"

[2021-10-20 13:35] pcambra opened #131 "New "enrichment" log type for natural plans"

[2021-10-20 13:39] pcambra commented on #92
![image](https://user-images.githubusercontent.com/104912/138103954-d3006d4a-7bb0-4f55-a660-dfe6aedd4702.png)

[2021-10-20 13:44] pcambra opened #132 "Automatically reference the assets on the log forms"
Reference all the assets from all the compartments selected on the location field to the log created/edited.

[2021-10-20 14:19] #131 closed, assigned to nobody

[2021-10-20 14:20] pcambra opened #133 "Populate plans with real data if possible"

[2021-10-20 23:34] pcambra opened #134 "Pager link broken on plan log pages when listing is refreshed"
I.e. on /plan/2/management, add logs until there's a pager (10+), then on adding/editing/deleting logs, the link on the pager of the view refreshed by ajax is broken:

Good pager link: /plan/2/management?page=1
Bad pager link: /plan/2/add-task?log=100&_wrapper_format=drupal_ajax&ajax_form=1&page=1

This is probably a Drupal core bug

[2021-10-30 18:06] pcambra commented on #126
@LeScruf could you please confirm?

[2021-10-30 18:55] pcambra commented on #126
here we go, https://forests.nfa.go.ug/admin/structure/taxonomy/manage/tree_species/overview thanks @mstenta

[2021-10-30 18:55] pcambra commented on #132
I've changed this but not sure how to verify, @mstenta

[2021-10-31 12:01] LeScruf commented on #126
Yes, looking good! Apologies for delayed reply - been off the net.

[2021-10-31 12:05] #123 closed

[2021-10-31 12:06] #109 closed

[2021-10-31 20:31] pcambra commented on #92
@LeScruf all is ready to review except from the "Number of seedlings per hectare (automatically calculated): total trees/ha ?" field, working on that

[2021-11-01 11:10] mstenta commented on #132
I think we only want to reference `forest` assets in the `asset` field of logs, and `compartment` assets in the `location` field.

This way, we will be able to track what happened to the Forest assets, which are the primary assets that will be managed for harvests, plantings, etc, but we will also be able to see *where* this activities occurred, in order to build a longer-term history of each comp

[2021-11-01 11:43] pcambra commented on #92
Pushed a couple of changes, one for the seedling and another for the enrichment label.

I think this is missing, but not sure what it means now:

`
    Only for plantations: A compartment can only have one forest asset. (Asset location service to see if there are assets in a location).
`

After a conversation with @mstenta, I think the approach I've taken is wrong and we need to partially redo thi

[2021-11-01 12:05] mstenta commented on #92
No worries @pcambra ! We can discuss on our next call. This is a particularly complex piece, at least conceptually. I think the implementation should be relatively simple once it is well understood. I'll do my best to clarify the thoughts when we talk.

In the meantime, here are some key points, which may help (but talking together will be best no matter what):

- The planting form should create b

[2021-11-01 12:11] mstenta commented on #92
With the above explanation in mind, I can also explain how this piece can work.

Since the `forest` asset is "located in" the `compartment` asset (because it was "moved" there via the `planting` log), we can can use that to check whether or not a compartment has any `forest` assets in it or not. See the example in this comment: https://github.com/mstenta/farm_nfa/issues/132#issuecomment-956141393

[2021-11-01 19:20] pcambra commented on #92
@mstenta I've been playing with this a bit and a major question has brought is, how do we relate the logs with the plans then? we were using the asset field to make the bridge but there's nothing now as far as I can see.

[2021-11-01 19:38] mstenta commented on #92
Ah good question - do you mean specifically for building the Views of Logs that are displayed on the Management, Harvest, Inventory, etc tabs within Plans? Were those relying on the `asset` field for the relationship previously? And if so, how? Were they referencing the same CFRs that the Plan itself was referencing?

One way to do this might be to use the `log` reference field that exists on the

[2021-11-02 19:31] pcambra commented on #92
@mstenta I think I must be missing something else, I'm forcing the planting logs to be movement ones (they have is_movement to TRUE), then the logs are assigned a forest in the asset field. However, I don't see the location or parents added to the forest asset and `\Drupal::service('asset.location')->getAssetsByLocation($locations)` is empty, so I'm guessing I'm doing something wrong, but can't fi

[2021-11-03 13:26] pcambra commented on #92
"Only one stand can be planted in a compartment at a time. Please choose a different compartment."

[2021-11-03 16:16] pcambra commented on #92
@LeScruf Just a quick update, @mstenta and I just figured out what the issue was and I'll be pushing this as soon as I can (hopefully early next week)

[2021-11-09 05:34] LeScruf opened #136 "Range as a searchable group missing?"
'Range' is missing as an asset term on the dashboard and filters - so if one wants to search for all CFRs in a certain range, it appears one cant? This is quite important to be able to do.

[2021-11-09 17:49] pcambra opened #137 "Test the add task links cache"

[2021-11-09 17:49] pcambra opened #138 "Remove variety and species from forest and vocabularies"

[2021-11-09 17:57] pcambra commented on #92
@LeScruf I think this is now ready for testing :)

[2021-11-09 17:57] pcambra commented on #132
closing this in favor of #92

[2021-11-09 17:57] #132 closed

[2021-11-09 18:06] mstenta commented on #136
Ranges are represented as Land Assets in the system - with a "Range" option in the "Land type" field. They are not a dedicated Asset type. I forget the exact reasoning we had for this, but I see in our Google Docs notes document that it was mentioned on 2021-03-10

Can you describe a bit more how you envision such a search working @LeScruf ? Would it need to be a new block in the dashboard perhaps

[2021-11-10 07:50] LeScruf opened #139 "Bug - cannot delete logs"
On the dashboard - when deleting logs, a 'client error' message is triggered and the logs are not deleted.

[2021-11-10 08:36] pcambra commented on #139
@LeScruf I've just tested this and seems to be working, could you please give me more details?

[2021-11-10 10:14] LeScruf commented on #139
Still not working my end - I restarted the browser as well as refreshed the cache - same error:
https://www.google.com/maps/d/edit?mid=1wb9dEytDHpWawMns5GX3t9K4M9cJwTY4&usp=sharing

[2021-11-10 10:16] pcambra commented on #139
@LeScruf I still need more information, url you're doing this, what log you're doing this in, what you're pressing exactly? maybe a video?

[2021-11-10 10:22] pcambra commented on #139
AH, this is on the dashboard itself, I didn't even know you could do this :)

[2021-11-10 11:36] pcambra commented on #139
This is an upstream bug: https://www.drupal.org/project/farm/issues/3248657

[2021-11-10 11:36] #138 closed

[2021-11-10 11:37] #83 closed

[2021-11-10 11:37] LeScruf opened #140 "Natural Forest Plan Form Format"
There are some additions required to the NF Plan field format - see https://forests.nfa.go.ug/asset/517 as a working example:

1.  Boundaries:
a. Add 'Boundary demarcation' section to include:
   - Year
   - Description of work done
   - File upload of map of work done
b. Date of boundary plan:
    - Change date to month/year format

2. Predominant Vegetation:
- Remove drop down on 'predominant ve

[2021-11-10 11:37] #82 closed

[2021-11-10 11:37] #93 closed

[2021-11-10 11:37] #113 closed

[2021-11-10 11:37] #126 closed

[2021-11-10 11:37] #84 closed

[2021-11-10 11:37] #85 closed

[2021-11-10 11:37] #81 closed

[2021-11-10 11:37] #87 closed

[2021-11-10 11:41] LeScruf opened #141 "Natural Forest Plan page format"
When looking at a page such as: https://forests.nfa.go.ug/asset/517 - the format needs some tidying up - e.g. with
1. The format of section titles
2. The way map (jpg/png) files are handled and placed within the page - for example it's not at all clear that this link 1485 results in a overlay. Moreover it does not seem possible to print the overlay etc.

[2021-11-10 12:02] LeScruf commented on #139
Ah ok - patience Watson!

[2021-11-10 12:29] LeScruf opened #142 "Change 'Location' to 'Sectors & CFRs'"
https://forests.nfa.go.ug/asset/799/locations - can the name of the 'Locations' tab be changed to 'Sectors & CFRs'?

This would be clearer - I was hunting around for this for a while - and this relates somewhat to #136.

Can this hierachy be made searchable in relation to #136 from the range downwards?

[2021-11-10 12:48] pcambra commented on #141
@mstenta is the overlay coming from farmos?

[2021-11-10 13:09] LeScruf opened #143 "Missing buttons ..."
On Natural Forest and Plantation Plans - all buttons (top right) seem to be absent (cleared browser cache and refreshed page without any improvement)...

(Discovered when reviewing #92)

This seems to be a little bit of a recurring issue?

[2021-11-10 13:11] LeScruf commented on #141
Yes - there is an overlay when you click on this link 1485? (was that Q for me or for Mike?) :)

[2021-11-10 13:13] mstenta commented on #141
I don't have access to the site to see this. Can you post a screenshot?

However, the link posted above (https://forests.nfa.go.ug/entity-dialog-formatter/media/dialog/%5B%221%22%5D/entity_dialog_formatter_list/Achwa%20River%20Gazetting%20Map) indicates that the Entity Dialog Formatter module is being used? https://www.drupal.org/project/entity_dialog_formatter

farmOS does not include this, so it

[2021-11-10 13:14] LeScruf commented on #121
@pcambra should I just plug away at this?

[2021-11-10 13:15] pcambra commented on #143
@LeScruf this is under my radar already on https://github.com/mstenta/farm_nfa/issues/137

[2021-11-10 13:15] #143 closed

[2021-11-10 15:53] #137 closed

[2021-11-10 15:54] pcambra commented on #139
@LeScruf this should be fixed now

[2021-11-10 16:29] LeScruf commented on #139
Fixed it is! :)

[2021-11-10 16:29] #139 closed

[2021-11-11 11:38] pcambra commented on #140
@LeScruf I'm looking at this and I fail to see how this is related to the "Natural Forest Plan Form", it doesn't seem that the fields described are there, the asset linked is a CFR. I don't know what's "NF Plan field format" either, sorry.

[2021-11-11 11:44] pcambra commented on #141
@mstenta thanks Mike

@LeScruf as per #140, I don't really know how this relate with "Natural Forest Plan page", the page linked is a CFR asset?

TBH I don't recall why the linked item is an overlay but it was suggested on https://github.com/mstenta/farm_nfa/issues/58 which I guess it comes from some conversation at some point

[2021-11-11 11:47] LeScruf commented on #140
Yes - it's a linked CFR - but part of a natural forest plan - apologies if this I described this in a confusing manner.

[2021-11-11 11:49] pcambra commented on #140
@LeScruf does this mean that the changes requested do not apply for Plantation Forests?

[2021-11-11 12:10] pcambra commented on #130
@LeScruf this has been now deployed, you can see an example in https://forests.nfa.go.ug/plan/2

![image](https://user-images.githubusercontent.com/104912/141295731-95669949-3520-4335-bfa7-2e517aacc05f.png)

[2021-11-11 16:09] #130 closed

[2021-11-11 16:12] pcambra commented on #141
Preference for map sheet uploads is *not* having it in an overlay bur rather display a small scale of the image, and be able to expand to a larger size that can be printed (same for vegetation map)

[2021-11-11 18:23] pcambra commented on #77
@LeScruf  this is now deployed

[2021-11-11 19:33] pcambra commented on #140
@LeScruf this has been now deployed and is ready for you to take a look :)

[2021-11-12 12:42] LeScruf opened #144 "The calendar bug again!"

[2021-11-12 12:43] LeScruf commented on #144
Some months are not selectable on the calendar popup at https://forests.nfa.go.ug/asset/517/edit:
![image](https://user-images.githubusercontent.com/14791005/141469019-c80509db-a2a7-4b85-9d34-dce7518e4c45.png)

[2021-11-12 12:45] pcambra commented on #144
@LeScruf fixed

[2021-11-15 10:29] pcambra opened #145 "Manager role should be able to add/edit media fields on assets"

[2021-11-15 13:25] mstenta commented on #145
FYI if you are using the "Manager" role provided by `farm_role_roles` module, then that is a "managed" role, meaning the permissions are managed by the `farm_role` module automatically.

You can add a simple YML config file to a custom module to grant permission(s) to managed roles. Docs here: https://docs.farmos.org/development/module/roles/#providing-permissions-for-managed-roles

Example:

`my_

[2021-11-17 14:11] #144 closed

[2021-11-17 14:19] pcambra commented on #141
@LeScruf moving this to ready to test on your side, probably we can add follow ups if we need to

[2021-12-23 12:16] pcambra opened #148 "Update farmos to beta4"

[2022-03-24 11:52] pcambra opened #154 "Add an administrator role with the right permissions and config"
There's a setting on https://forests.nfa.go.ug/admin/config/people/accounts that needs to be exported in the config to set to this new role

[2022-03-25 15:48] peacog opened #156 "Make tabs on Plan summary page configurable"
- [ ] Allow editor to configure the titles of the image tabs on the plan summary page.
- [ ] Add a description field to each tab
- [ ] Bug fix: Show plan map when no images have been uploaded to the plan.

[2022-04-04 13:44] pcambra commented on #120
@LeScruf I think this was either done in other change or was fixed on farmOs, could you confirm? Thanks

[2022-04-21 09:12] pcambra commented on #92
On meeting 21/04/2022, @LeScruf to provide further feedback

[2022-04-21 09:30] pcambra commented on #121
CFR without compartments need to have a compartment that covers the whole CFR so activities can be linked to them

[2022-04-21 10:01] pcambra commented on #88
@mstenta I think you and I need to talk a bit on how to implement the quickforms part in here?

[2022-04-21 10:02] pcambra commented on #88
https://farmos.org/development/module/quick/

[2022-04-21 10:07] pcambra commented on #102
Changes on the form will be discussed at a later point

[2022-04-21 10:07] #102 closed

[2022-04-21 10:09] pcambra commented on #103
@mstenta is this going to be part of field kit?

[2022-04-21 10:09] #79 closed

[2022-04-21 10:15] pcambra commented on #78
The harvest in "activity type" has nothing to do with this, only for the logs

[2022-04-21 10:16] pcambra commented on #78
No overlapping on the planting. **You can't plant over something that has a planting status**.

[2022-04-21 10:17] pcambra commented on #73
MAI = Mean Annual Increment

[2022-04-21 10:23] pcambra commented on #73
NFA to clarify whether we want combined MAI graphs per CFR

[2022-04-21 10:23] #50 closed

[2022-04-21 10:24] pcambra commented on #68
@mstenta how can we check what those files are?

[2022-04-21 10:26] #59 closed

[2022-04-21 10:26] #64 closed

[2022-04-21 10:26] #65 closed

[2022-04-21 10:27] #58 closed

[2022-04-21 10:27] #56 closed

[2022-04-21 10:28] pcambra commented on #54
We need the terms from NFA to add them on the right taxonomies

[2022-04-21 10:29] #53 closed

[2022-04-21 10:30] #52 closed, assigned to nobody

[2022-04-21 10:30] #49 closed

[2022-04-21 10:31] #17 closed

[2022-04-21 10:32] #46 closed

[2022-04-21 10:33] pcambra commented on #28
"How can we restrict users/permissions with a geospacial component: Allow users to act within certain coordinates/polygons"

[2022-04-21 10:36] pcambra commented on #21
Make the people field available for activities (management tasks) and figure out how to add permissions to see the logs assigned to you.

[2022-04-21 12:05] pcambra opened #161 "Geospacial integrity"
When adding/editing compartments, there needs to be a check that ensures no overlaps until manual fix is done.

[2022-04-21 12:05] pcambra opened #162 "Review how to better display and establish a pattern for long pages"
(for example Agoro-Agu CFR: asset/523)

[2022-04-21 12:05] pcambra opened #163 "On CFR: Zonation should be added as polygons (TBD)"

[2022-04-21 12:05] pcambra opened #164 "Review how to improve the UX on very long forms"
For example the Add CFR one

[2022-04-21 12:06] pcambra opened #165 "Layout builder for dashboards"

[2022-04-21 12:06] pcambra opened #166 "Remove "is location", "is fixed" filters and "location" column on the assets dashboard (/assets)"

[2022-04-21 12:06] pcambra opened #167 "UX Laundry list"

[2022-04-21 12:28] pcambra commented on #142
I need to verify this has been deployed when the site is back

[2022-04-21 12:28] pcambra commented on #154
I need to verify this has been deployed when the site is back

[2022-04-26 14:50] pcambra commented on #166
Filters still need to be removed

[2022-04-26 14:51] #154 closed

[2022-04-26 14:53] pcambra commented on #142
@LeScruf this has been deployed and confirmed working on https://forests.nfa.go.ug/asset/799/locations

[2022-04-26 14:53] #142 closed

[2022-04-27 08:10] pcambra opened #171 "Enable a staging environment"

[2022-04-28 08:09] pcambra commented on #171
Forests data is OK
Farmers data needs to be test data and not real data.

[2022-04-28 08:10] pcambra commented on #171
Review default content as a "demo" site for farmers

[2022-04-28 08:23] #77 closed

[2022-04-28 08:23] #67 closed

[2022-04-28 08:26] #44 closed

[2022-04-28 08:26] #43 closed

[2022-04-28 08:27] #41 closed

[2022-04-28 08:28] #39 closed

[2022-04-28 08:39] pcambra opened #172 "Global forest watch data inputs"

[2022-04-28 08:42] pcambra commented on #172
First step: display an interactive map of deforestation in Uganda.

[2022-04-28 11:42] LeScruf commented on #172
So the developer docs for GFW can be found here: https://www.globalforestwatch.org/help/developers/guides/

[2022-04-28 13:06] pcambra commented on #166
This is now removed from the assets listings

[2022-05-06 09:10] #38 closed

[2022-05-06 09:11] pcambra commented on #37
Related to #73

[2022-05-06 09:12] pcambra commented on #36
Related to #73 but also using the quickform from #88 maybe?

[2022-05-06 09:14] #34 closed

[2022-05-06 09:15] #32 closed

[2022-05-06 09:16] pcambra commented on #31
Remainder to be done on #121

[2022-05-06 09:16] #31 closed

[2022-05-06 09:16] #30 closed

[2022-05-06 09:17] #29 closed

[2022-05-06 09:19] pcambra commented on #25
This will be done on #78

[2022-05-06 09:19] #25 closed

[2022-05-06 09:20] #24 closed

[2022-05-06 09:21] #22 closed

[2022-05-06 09:21] #20 closed

[2022-05-06 09:23] #18 closed

[2022-05-06 09:26] pcambra commented on #14
@mstenta do we have any plans on 2.x for this?

[2022-05-06 09:26] #6 closed

[2022-05-06 09:27] pcambra commented on #4
@mstenta I know we've briefly discussed about this, but are the control colours etc ever exposed to the admin users?

[2022-05-06 09:39] pcambra opened #174 "Possible regression: Draw polygons on planting/management forms"
Check is this still a problem

[2022-05-18 17:17] pcambra opened #175 "Create module to provide default content for farmers staging"

[2022-05-18 17:17] pcambra commented on #171
We have forests.cambrico.net now for staging.

Added https://github.com/Cambrico/farm_nfa/issues/175 to create default content for farmers

[2022-05-18 17:19] pcambra commented on #175
@peacog you know the data model the best around here, could you please create a module based on https://www.drupal.org/project/default_content that would give us demo content for farmers?

[2022-05-19 08:28] #11 closed

[2022-05-19 08:29] #10 closed

[2022-05-19 08:32] pcambra commented on #8
Add instructions (and validation?) for the Geometry field

![image](https://user-images.githubusercontent.com/104912/169249640-6fa6ecf4-b267-4f5d-af75-bb8747a850f1.png)

[2022-05-19 08:32] #7 closed

[2022-05-19 08:36] #92 closed

[2022-05-26 11:22] pcambra commented on #165
Blocker task to take on first: https://www.drupal.org/project/farm/issues/3244733

[2022-05-27 16:06] pcambra opened #176 "Restore NFA logo"
I think that we had a custom logo configured on the theme and that has been lost with the new theme, we should reconfigure it on admin/appearance/settings/farm_gin

[2022-05-27 16:18] #148 closed

[2022-05-27 16:18] pcambra commented on #148
@LeScruf We're now in the latest version of farmOs

[2022-06-02 08:05] #176 closed

[2022-06-02 08:28] pcambra commented on #172
We need to explore:

- Timelines / Data on map on time
- Alerts on events (i.e. fires)

[2022-06-02 08:39] yolandagoex commented on #167
A need has been identified to improve the UI when more than three set of tabs are displayed. See [https://forests.nfa.go.ug/plan/1](https://forests.nfa.go.ug/plan/1)

In order to make it easier for our users to make sense of the multiple links displayed, our UI would benefit from the concept of hierarchy through the use of visual disconnection between the main set of tabs and the nested one, as we

[2022-06-02 08:44] yolandagoex commented on #162
A need has been identified to improve the pattern for heavy content pages. See [https://forests.nfa.go.ug/asset/523](https://forests.nfa.go.ug/asset/523)

In order to make our users more comfortable with heavy content pages, a solution based on the concept of progressive disclosure is presented. The component that better seems to fit with this concept is an accordion.

A proposal with an accordion

[2022-06-22 17:32] pcambra opened #179 "Regression: Patch from https://www.drupal.org/project/entity_reference_revisions/issues/2667748 doesn't seem to apply anymore"
https://www.drupal.org/project/entity_reference_revisions/issues/2667748

This might be affecting quantities widget as it is not saved.

[2022-06-30 08:52] yolandagoex commented on #164
A need has been identified to improve the pattern for long forms. See https://forests.nfa.go.ug/asset/add/cfr

In order to make our users more comfortable with long forms, a solution based on the concept of progressive disclosure is presented. The component that better seems to fit with this concept is a multi step form a.k.a wizard.

A proposal with a multi step form can be explored here: https:/

[2022-07-29 10:56] LeScruf commented on #163
We need to clarify this - on the face of this, zonation should indeed be added as polygons

[2022-07-29 10:58] LeScruf commented on #136
I think for now, unless there is a use scenario that is explicitly requested, we should depreciate this issue.

[2022-07-29 10:59] LeScruf commented on #125
@pcambra - can we discuss this further on our next call?

[2022-07-29 11:12] LeScruf commented on #86
**_Provisional_ candidate roles are:**
1. HQ 1 - Senior Management (Directoral Level) -> view everything; edit nothing
2. HQ 2 - Coordinator & Officers - view all range themes for which they are responsible (see below)
3. Range - Range Manager - view and edit their range only for all themes
4. Sector - Sector Manager - view and edit their sector only for all themes, view the range
5. Beat - Forest

[2022-07-29 12:04] LeScruf commented on #73
It would be good to implement this through entering data into a simple table: volume (m3) on the y-axis vs plantation age (yrs) on the x-axis. This can then be compared with the expected MAI curve for the particular site index (which determines the expected performance of the site denoted by a figure representing the number of years to biological maturity for the species / variety planted). The ex

[2022-07-29 13:11] LeScruf commented on #45
See #73 - the MAI and economic value + discounted revenue need to be all modeled and tracked together - perhaps as part of a single dedicated module, with a view to starting with straight-forward functionality, and with the potential for added demand-driven sophistication as requested by NFA in the future.

[2022-07-29 13:30] LeScruf commented on #37
Yes merge with #73

[2022-07-29 13:33] LeScruf commented on #36
This is related to and should be dealt with under #73

[2022-07-29 13:36] LeScruf commented on #14
Yes - I think this still remains a useful / needed functionality...

[2022-08-01 11:08] LeScruf commented on #35
Yes - this will need to be trackable as often what is planned is not what is carried out ...

[2022-08-01 11:10] LeScruf commented on #42
This issue needs to continue to be parked until other more pressing development is completed.

[2022-08-01 11:35] LeScruf commented on #54
1. The term 'Forest' should be changed to 'Stand' - as the former term is confusing, the latter term is much clearer
2. Purpose - for now should be, 'Production', 'conservation' & 'restoration'
3. Vegetation (natural stand) - 'Tropical High Forest', 'Woodland', 'Bush', (for now).

[2022-08-08 08:10] pcambra commented on #86
Land with types (Range > Sector > Beat?) and Sectors contain CFRs.

This relates to geospacial permissions https://github.com/Cambrico/farm_nfa/issues/28, how should we implement the permissions at that level, do we have a "derivative" per land entity?

[2022-08-08 08:16] pcambra opened #183 "Add the beats, beats' geometry and sector geometry."
The parent structure needs to be right so it appears in the locations

<img width="1251" alt="image" src="https://user-images.githubusercontent.com/104912/183372061-4decc9ec-35e1-402f-8182-618ea984051e.png">

[2022-08-08 08:22] pcambra opened #184 "Approval workflows for logs/tasks"
We need @LeScruf to provide a list of steps and who can make the transitions.

[2022-08-08 08:22] pcambra commented on #86
https://github.com/Cambrico/farm_nfa/issues/184 is part of this too

[2022-08-08 08:36] pcambra commented on #125
Define what "site administrators" can do within the admin UI, and give only access to whatever is sensible for them to use.

Parked for the moment.

[2022-08-08 08:44] pcambra commented on #163
Requirements:

- Zonation should show the zones assigned to the CFR (on edit and view)
<img width="1251" alt="image" src="https://user-images.githubusercontent.com/104912/183377209-7aa16139-4880-4db7-b94c-dc3dbfce7dd6.png">

- Compartments should also be listed in the same way for the CFR.

- We need to add a way to create Zones for existing CFRs from the Edit screen through an overlay (on the Zon

[2022-08-08 08:46] pcambra commented on #163
We need help from @yolandagoex  :) so the list of zones/compartments is not too intimidating, specially on the form.

[2022-08-08 08:48] #37 closed

[2022-08-08 08:50] pcambra commented on #73
@LeScruf to work effectively on this, we need data samples.

[2022-08-08 09:03] pcambra commented on #45
On hold.

[2022-08-08 09:10] pcambra commented on #54
- [ ]  The Asset type "Forest" label needs to be changed to "Stand"
- [ ] Forest vegetation type taxonomy: 'Tropical High Forest', 'Woodland', 'Bush',
- [ ] Forest type needs to be either Natural stand OR Plantation, not both.
- [ ] When selecting Natural stand, only the natural forest stand details shows up
- [ ] When selecting Plantation only the plantation stand details shows up
- [ ]  Create t

[2022-08-08 09:11] #136 closed

[2022-08-08 09:27] pcambra opened #185 "Why the polygon on tyhe planting is not showing up"
https://forests.nfa.go.ug/plan/2/planting

[2022-08-08 09:28] pcambra commented on #35
There might be an issue if it's not done in the same year.

[2022-08-08 09:35] pcambra commented on #185
Duplicate of https://github.com/Cambrico/farm_nfa/issues/174

[2022-08-08 09:35] #185 closed

[2022-08-08 09:47] pcambra opened #186 "Update farmos to beta 6"
https://opencollective.com/farmos/updates/farmos-2-0-0-beta6-has-been-released

[2022-08-31 19:05] cferley commented on #172
any developments on this project?

[2022-08-31 20:29] pcambra commented on #165
@LeScruf I'm closing this one as we've wrapped it up, we can configure now any page, you will notice a "Layout" tab on several pages now.

[2022-08-31 20:29] #165 closed

[2022-09-01 08:51] LeScruf commented on #172
Not yet - we are working on other priorities first, but will get to this ... @pcambra - any time line from your perspective?

[2022-09-08 07:02] LeScruf commented on #86
**For creating an allocated task** (optionally as part of plans) for approval - the work flow should be able to start at any level
_Sector Manager -> Range Manager -> Coordinator Natural Forests -> Director Natural Forests_
_Officer Natural Forests -> Coordinator -> Director Natural Forests_

**For creating a budget for an allocated task** (optionally as part of plans) for approval - the work flow

[2022-09-08 07:07] LeScruf commented on #184
Ah - I have commented on this via #86 - I can shift the comment here if more appropriate.

[2022-09-08 08:19] pcambra opened #187 "Restore the FarmOs / NFA menu overrides"
With the latest updates the menu has been restored to the Drupal one.

[2022-09-08 11:11] #187 closed

[2022-09-08 11:16] pcambra commented on #187
@LeScruf I've pushed a fix for this and we have the menu back

[2022-09-16 09:47] pcambra commented on #86
@LeScruf could you please clarify these items for me?

- There seems to be 2 different workflows with the same states/transitions, one for "Field" and another one for "HQ", how do these two are applied for the same log? It seems to me that it would be confusing to have different people approving the same statuses?
- Will there be specific screens for the approval workflow? Where would these sit on

[2022-09-16 10:03] LeScruf commented on #86
1. They are applied for different logs - i.e. either one can be applied for any natural forest log, but they can't obviously be both applied to the same log.
2. I think we need to figure this out - perhaps under the user menu? Let's experiment?
3. Yes - on the one hand I agree with with arbitrariness of percentage completions, but from a management perspective, an indication of how complete an act

[2022-09-16 10:06] pcambra commented on #86
@LeScruf

- Regarding 1, how do we establish to which logs the Field status workflow applies and to which ones the HQ workflow applies?

[2022-09-16 10:11] LeScruf commented on #86
I think a drop down selection? Would that work? So either workflow can be used for any log, but of course not simultaneously? But there could be multiple instances of both workflows for the same log type tho - each a separate instance but for a different activity.

[2022-09-16 10:56] #186 closed

[2022-09-16 11:31] pcambra commented on #86
@LeScruf I need to do some research on whether we can have a dynamic workflow per task/log, we can definitely do it per type of task (activity, harvest, planting...)

[2022-09-16 17:04] #179 closed

[2022-09-16 17:09] pcambra commented on #184
Closing this one, let's focus this on #86

[2022-09-16 17:09] #184 closed

[2022-09-22 08:11] pcambra commented on #86
Note: These are specific for natural forests.

Once you change a workflow, you can't change it, so this can be done on creation only.

[2022-09-22 08:44] yolandagoex commented on #164
In this case we would need to know which fields are going to continue after the UX/UI reorganisation, and which ones are no longer needed.

[2022-09-22 08:48] yolandagoex commented on #162
In this case we would need to know if the committee is happy with the re-design based on the accordion component in order to implement it.

[2022-09-22 09:05] pcambra commented on #164
Just making sure @LeScruf sees this comment

[2022-09-22 09:05] pcambra commented on #162
Just making sure @LeScruf sees this comment

[2022-10-10 07:44] yolandagoex commented on #162
A new iteration based on the solution designed for issue #163 (vertical tabs) has been created after @LeScruf comment on Figma: https://www.figma.com/file/WIWQyXB9nikWwPuKahEfxi/Iteration-long-pages?node-id=0%3A1

[2022-10-10 08:03] pcambra opened #190 "Upgrade FarmOs to beta 7"

[2022-10-10 08:16] pcambra commented on #162
We need to show the maps/images with a label "Maps" on the top of the vertical tabs.

The images need to be collapsed, or maybe first one visible, in an accordion-like structure.

[2022-11-02 11:16] yolandagoex commented on #162
A second iteration over the long pages design with the latest suggestions can be seen here @LeScruf: https://www.figma.com/file/piSrp57wzXg8GLTnM8VaRn/Second-iteration-long-pages

[2022-11-03 09:36] pcambra commented on #121
This is pending a digitalization of the polygons which might take a couple of months.

[2022-11-03 11:05] ygoex opened #192 "Implement vertical tabs for long pages"

[2022-11-03 11:14] ygoex commented on #162
Closing this one after @LeScruf gave us green light to start implementing it. We'll now focus on #192

[2022-11-03 11:14] #162 closed

[2022-11-03 11:15] ygoex opened #193 "Implement vertical tabs for long forms"

[2022-11-03 11:22] ygoex commented on #164
Closing this one after @LeScruf gave us green light to start implementing it. We'll now focus on https://github.com/Cambrico/farm_nfa/issues/193

[2022-11-03 11:22] #164 closed

[2022-11-04 10:26] LeScruf commented on #192
Thanks @ygoex - looking forward to seeing how it works in reality!